<section class="body-copy">
  <h1>Test Case: Assets 3.0</h1>
  <nav>
    <ul>
      <li><%= link_to "Body Copy", test_pages_path(:body_copy) %></li>
      <li class="active"><%= link_to "Messages", test_pages_path(:messages) %></li>
      <li><%= link_to "Boxes", test_pages_path(:boxes) %></li>
      <li><%= link_to "Forms: Buttons", test_pages_path(:forms_buttons) %></li>
      <li><%= link_to "Forms: Multi fields", test_pages_path(:forms_multi) %></li>
      <li><%= link_to "Forms: Single field", test_pages_path(:forms_single) %></li>
      <li><%= link_to "Forms: Validation", test_pages_path(:forms_validation) %></li>
      <li><%= link_to "Tables", test_pages_path(:tables) %></li>
      <li><%= link_to "Bigfoot", test_pages_path(:bigfoot) %></li>
    </ul>
  </nav>
</section>
